nav {

  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--white);
  position: sticky;

  .item:not(.flex-divider) {

    padding: 1em;
    transition: background-color .3s ease-in-out;
  }

  a.item:hover {

    background-color: var(--back-hover);
  }
}